body {
  text-align: left;
  background-image:url('Shtonksツ.jpg');
  background-size: 150px;
}

p {
  font-size: 60px;
}

ul {
  font-size: 60px;
  color: white;
}

h1 {}
h2 {}

table {
  font-size: 60px;
  background-color: white;
}

span {
  background-color: white;
  color: black;
}

span:hover{
  background-color: Black;
  color: white;
}

td{
  padding:0 30px;
}

td:hover{
  color:blue;
}
